table {
  width: 100%;
  box-shadow: none;
}

.thumbnail {
  height: 100px;
}

.grass {
  background-color: #60bf60;
}

.water {
  background-color: #8ac2d7;
}

.electric {
  background-color: #ffd740;
}

.psychic {
  background-color: pink;
}

.fire {
  background-color: orange;
}